@import "tailwindcss";

/* main color theme along with accenet and ternary colors */
@theme {
  --color-primary: #1c1c1e;
  --color-secondary: #2c2c2e;
  --color-tertiary: #3a3a3c;
  --color-text-pri: #e5e5e7;
  --color-text-mute: #a1a1a3;
  --color-main-border: #4a6cf7;

  --color-background: #f8f8ff;

  --color-accent-blue: #f2f2f7;
  --color-accent-gold: #4a6cf7;
  --color-accent-green: #4caf50;

  --color-ternary-pink: #f29ca3;
  --color-ternary-mint: #a9e5bb;
  --color-ternary-gray: #9ba3af;

  --font-inter: "Inter", sans-serif;
}

/* 3 color gradients */
.bg-gradient1 {
  background: linear-gradient(to bottom, #1c1c1e, #2c2c2e, #4a6cf7);
}

.bg-gradient2 {
  background: linear-gradient(to bottom, #1c1c1e, #3a3a3c, #ffb200);
}

.bg-gradient3 {
  background: linear-gradient(to bottom, #1c1c1e, #4d4d4f, #4caf50);
}

.bg-gradient4 {
  background: linear-gradient(to bottom, #2c2c2e, #4a6cf7, #a9e5bb);
}

.bg-gradient5 {
  background: linear-gradient(to bottom, #3a3a3c, #ffb200, #f29ca3);
}

/* 4 color gradients */
.bg-gradient6 {
  background: linear-gradient(to bottom, #1c1c1e, #2c2c2e, #4a6cf7, #a9e5bb);
}

.bg-gradient7 {
  background: linear-gradient(to bottom, #2c2c2e, #3a3a3c, #ffb200, #f29ca3);
}

.bg-gradient8 {
  background: linear-gradient(to bottom, #1c1c1e, #3a3a3c, #4caf50, #a9e5bb);
}

.bg-gradient9 {
  background: linear-gradient(to bottom, #2c2c2e, #4d4d4f, #4a6cf7, #ffb200);
}

.bg-gradient10 {
  background: linear-gradient(to bottom, #1c1c1e, #4a6cf7, #f29ca3, #a9e5bb);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-background);
  color: var(--color--primary);
}